/* Navbar */
.navbar {
    background-color: #007bff; /* Aesthetic blue color for the navbar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2)); /* Add a subtle drop shadow to the logo */
}

.navbar-toggler-icon {
    background-color: #fff; /* White color for the toggle icon */
}

.navbar-nav .nav-link {
    color: #333; /* Dark gray color for the nav links */
}

/* Container */
.container {
    background-color: #f7f7f7; /* Light gray background color for the container */
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

/* Categories */
.list-group-item {
    background-color: #f7f7f7; /* Light gray background for category list items */
    border: none;
}

/* Product Cards */
.card {
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.card-title {
    color: #333; /* Dark gray color for card titles */
}

.card-body {
    background-color: #fff; /* White background for card body */
}

.btn-primary {
    background-color: #007bff; /* Aesthetic blue color for buttons */
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3; /* Darker blue color on hover */
}
